<nav class="header">
    <div class="header__brand">
        <img class="header_brand--logo" src="/img/logo.jpg" alt="">
        <h5 class="header__brand--name">Bundesliga</h5>
    </div>
    <ul class="header__menu">
        <a class="header__menu--link" href="">
            <li class="header__menu--item">
                Rank
            </li>
        </a>
        <a class="header__menu--link" href="">
            <li class="header__menu--item">
                Teams
            </li>
        </a>
        <a class="header__menu--link" href="">
            <li class="header__menu--item">
                Match
            </li>
        </a>
        <a class="header__menu--link" href="">
            <li class="header__menu--item">
                Session
            </li>
        </a>
    </ul>
</nav>