<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('utils/link.ejs')%>
</head>
<body>
    <div class="center">
        <div class="w-1080">
            <%- include ('partials/header') %>
            <div class="slider">
                <div class="slides">
                  <img class="slides__img active"src="/img/slider6.jpg" alt="Image 1">
                  <img class="slides__img" src="/img/slider1.jpg" alt="Image 1">
                  <img class="slides__img" src="/img/slider2.jpg" alt="Image 1">
                  <img class="slides__img" src="/img/slider3.jpg" alt="Image 1">
                  <img class="slides__img" src="/img/slider4.jpg" alt="Image 1">
                </div>  
                <button class="prev pos-btn"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAARZJREFUSEvtlsFqwkAURc9AIBFKi9/RjSjdS//AVd3UlZ9Q3OuHuHPXvSsV8acMZHxlIOK0GPOiZELRrIecuYd5d8bQ0Gca4vIABzP/f1ULPO2JJgnZzECmVXZT4hy6NvAGsoyxAwOpBn41WOAlJVoD3SNIYNsi69cGFnhOibZA5wQRa2AYY79rARdADwY+tFC3sUqqBdq5Xj+pg45i7EKT9LhGDc6hO+DV03sVVJ24ACoGPqsmVScuggqMW9h5Fb3+2lLVjYHdLhtR7ZWDO9FhD9cfuGurcOPkwc+1Vr0FUgKvtzI9uLskVkDPK5RNgn3XjFjpOF36ye/eDnQt+sn3RF8J2TTYQ0CjtGjNTaof4CoG7k/1D79Teh9u/LznAAAAAElFTkSuQmCC"/></button>
                <button class="next pos-btn"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAARZJREFUSEvt1jFOwzAYhuH3r1s1HAqQSsUJurH1IqwcoiwwMXOCjtClC+dAokhtJEtGlqgaQZD9Oy5WpWRN4iffF9uJUOiQQi49/G/Nn0bVDkY7hrcV9k7gs0s90YkdnNWYZ5ArB6sKO+mCR8NbhkuBi31KB68VdiqwSUkeDdeYmYMnkEED98k9/qHFo2E/cI25cfDQxIH1GHupxVVwTlwNN/BHkOb9quRJsMe3mLnAogX3s/099M6T4QMu9z+QtzH2PIRngH+lPi78R9VRqG8oKfH3smqbXFHvNwnOtZZViXOhqsRtW2bqrqWCWz4SLxX2WrtV7pdedNXFPov+SYv8CIS2QO356Kq1A4eu7+FQQ9nOF6v6C4t8aR9yEywtAAAAAElFTkSuQmCC"/></button>
        </div>
        <div class="content">
            <h5 class="content__title">History</h5>
            <p class="content__title--sub">
                Giải bóng đá vô địch quốc gia Đức (tiếng Đức: Bundesliga),
                 đôi khi được biết đến với tên gọi Fußball-Bundesliga hoặc 1. Bundesliga,
                  là một giải bóng đá chuyên nghiệp đứng đầu hệ thống giải đấu bóng đá Đức. Bundesliga bao gồm 18 đội,
                   mùa giải diễn ra từ tháng 8 năm trước đến tháng 5 năm sau. Các trận đấu được diễn ra vào thứ Sáu, thứ Bảy và Chủ Nhật
                   , với một vài trận đấu được diễn ra vào các ngày thường trong tuần. Tất cả các câu lạc bộ Bundesliga đều tham dự DFB-Pokal
                . Đội vô địch Bundesliga giành quyền tham dự DFL-Supercup.
                Kể từ khi thành lập đã có 56 câu lạc bộ thi đấu tại Bundesliga. 
            </p>
            <h5 class="content__title">Teams</h5>
            <p class="content__title--sub">
                Kể từ khi thành lập đã có 56 câu lạc bộ thi đấu tại Bundesliga
                . Bayern Munich đã giành được 32 trong số 60 danh hiệu, bao gồm 11 mùa giải gần đây nhất
                , một kỷ lục châu Âu.[1] Bundesliga cũng chứng kiến những nhà vô địch khác
                , nổi bật nhất trong số đó là Borussia Dortmund, Hamburger SV, Werder Bremen
                , Borussia Mönchengladbach và VfB Stuttgart. Bundesliga là một trong những giải quốc gia hàng đầu
                , xếp thứ ba ở châu Âu theo hệ số giải đấu của UEFA cho mùa giải 2022–23 hiện tại
                , dựa trên thành tích ở các giải đấu Châu Âu trong năm mùa giải qua. 
            </p>
            <p class="content__team--famous__title">Teams famous</p>
            <div class="content__team--famous">
                <div class="content__team--famous__content" ><img class="content__team--famous__img" src="/img/bayer_munich.png" alt="">
                <div class="content__team--famous__bodytext">
                    <p class="content__team--famous__name">
                    Bayern Munich
                </p>
                <p class="content__team--famous__stadium">
                    Stadium: Alianz Arena
                </p>
                <p class="content__team--famous__history">
                    History: Câu lạc bộ này được biết đến nhiều nhất bởi đội bóng đá chuyên nghiệp đang chơi ở Bundesliga
                    , hạng đấu cao nhất của hệ thống giải đấu bóng đá Đức
                    , và là câu lạc bộ thành công nhất trong lịch sử bóng đá Đức
                    , với 33 chức vô địch quốc gia và 20 cúp quốc gia, cùng với vô số danh hiệu châu Âu
                </p>
            </div>
        </div>
        <div class="content__team--famous__content" ><img class="content__team--famous__img" src="/img/Borussia_Dortmund_logo.svg.png" alt="">
            <div class="content__team--famous__bodytext">
                <p class="content__team--famous__name">
                Borussia Dortmund
            </p>
            <p class="content__team--famous__stadium">
                Stadium: Westfalenstadion
            </p>
            <p class="content__team--famous__history">
                History: là một câu lạc bộ thể thao đóng ở Dortmund,
                 phía bắc sông Rhine và được biết đến là một trong những đội bóng nổi
                  tiếng và thành công nhất nước Đức cùng với Bayern Munich,
                 Hamburg SV và Borussia Mönchengladbach.
                 Với 8 chiếc cúp vô địch quốc gia Đức và 5 cúp DFB Poka
            </p>
        </div>
    </div>
    <div class="content__team--famous__content" ><img class="content__team--famous__img" src="/img/FC_Schalke_04_Logo.svg.png" alt="">
        <div class="content__team--famous__bodytext">
            <p class="content__team--famous__name">
           FC Shalke 04
        </p>
        <p class="content__team--famous__stadium">
            Stadium: Veltins-Arena 
        </p>
        <p class="content__team--famous__history">
            History: là một đội bóng Đức có trụ sở ở Gelsenkirchen,
            phía bắc vùng Rhine-Westphalia.
            Schalke 04 từ lâu đã được coi như một trong những đội bóng nổi tiếng nhất ở Đức,
            mặc dù những thành công của câu lạc bộ chỉ đến từ khoảng những năm 1930 cho tới đầu những năm 1940.
        </p>
    </div>
</div>
            </div>
        </div>
    </div>
    </div>
        <%- include ('partials/footer') %> 
</body>
</html>