body{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.center{
    display: flex;
    justify-content: center;
}
.w-1080{
    width: 1080px;
}
.w-960{
    width: 960px;
}
.hello{
    color: red;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 0px;
    background-color: rgb(53, 44, 44);
}
.header__brand{
    display: flex;
    align-items: center;
}
.header_brand--logo{
    height: 70px;
    width: 70px;
    margin-right: 20px;
}
.header__menu{
    display: flex;
    align-items: center;
}
.header__brand--name{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}
.header__menu--item{
    color: #fff;
    font-size: 14;
    margin: 0px 10px 0px;
}
.header__menu--link{
    text-decoration: none;
}
.footer{
    height: 40px;
    background-color: rgb(53, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Footer */
.footer__title{
    font-size: 16px;
    color: #fff;
}
/* Slider */
.slider {
    position: absolute;
    top: 43.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    height: 450px;
    width: 750px;
    margin: 26px auto 26px;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease;
  }
  .slides__img {
    display: none;
}

.slides__img.active {
    display: block;
}
  .content__title{
    color: #fff;
  }

  .slides img {
    height: 100%;
    width: 100%;
  }
.pos-btn{
    background: none;
    border: none;
    cursor: pointer;
}
.pos-btn:hover{
    opacity: 0.7;
}
.prev{
    position: absolute;
    top: 45%;
    left: 0;
    
}
.next{
    position: absolute;
    top: 45%;
    right: 0;
}
.prev__icon{
    color: #fff;
}
  /* Content index */
.content__title{
    color: red;
    font-size: 20px;
    margin: 16px 0px;
    font-weight: 500;
} 
.content__title--sub{
    color: #fff;
    font-size: 14px;
    width: 80%;
    line-height: 1.5;
}
.content__team--famous{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.content__team--famous__content{
    width: 26%;
    background-color: rgb(53, 44, 44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding-bottom: 20px;
}
.content__team--famous__title{
    color:red;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}
.content__team--famous__img{
    width: 80%;
    height: auto;
    margin: 20px auto;
}
.content__team--famous__bodytext{
    padding: 0px 20px;
}
.content__team--famous__name{
    font-size: 18px;
    font-weight: 500;
    color: red;
}
.content__team--famous__stadium{
    color: #e7e6e6;
    margin: 6px 0px;
    font-size: 16px;
}
.content__team--famous__history{
    color: #cabfbf;
    font-size: 14px;
    line-height: 1.3;
}
.team-name{
    color: #fff;
}
/* CSS for Teams */
.teams__body--title{
    font-size: 20px;
    color: red;
    text-align: center;
    font-weight: 600;
}
.teams_content{
    display: flex;
    flex-wrap: wrap;
}
.teams_content__boxitem{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(53, 44, 44);
    border-radius: 16px;
    padding: 0px 0px 10px ;
    margin-right: 20px;
}
.teams_content__boxitem--img{
    padding: 20px 22px 10px;
    width: 118px;
    height: 130px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.teams_content__link{
    text-decoration: none;
}
.teams_content__boxitem--name{
    color: #ccc;
}
.teams_search{
    width: 240px;
    border: none;
    height: 100%;
    padding-left: 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.teams_search:focus{
    outline: none;
}
.teams_search_containt{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 32px;
    margin: 24px 0px;
}
.teams_search--icon{
}
.teams_search_box--icon{
    background-color: red;
    padding: 1.5px 6px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* List of Seasons */
.season-list {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
}

.season-item {
    background-color: rgb(53, 44, 44);
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.season-header, .season-name, .season-year {
    flex: 1;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}

.season-header {
    font-weight: bold;
}

.season-detail-btn {
    padding: 8px 16px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 0 0 auto;
    margin: 0 10px 0 10px;
}
.season-span{
    margin: 0 25px 0 25px;
}
.season-detail-btn:hover {
    background-color: red;
}


.search-bar {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
  
    
}

.search-input {
    flex: 1;
    border: none;
    padding: 5px;
    font-size: 16px;
    border: none;
}

.search-button {
    padding: 8px 16px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 0 0 auto;
}
.search-button:hover {
    background-color: red;
}
.search-bar{
    margin: 10px 0 10px 0;
}
/* teaminseason */

.season-info {
    text-align: center;
    color: white;    
}

.name-season {
    padding: 10px 0;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgb(53, 44, 44);
    font-size: 25px;
}

.team-list ul {
    list-style: none;
    padding: 0;
}

.team-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 15px 0;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 25px;
}

.team-list span {
    color: rgb(0, 0, 0);
    flex-grow: 1;
    text-align: center;
}

.team-list img {
    max-width: 100px;
    margin-right: 20px;
}

.view-button {
    padding: 5px 15px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}
/* error message */
.error-message{
    color: red;
    font-size:30px;
    margin: 10px 0 10px 0;
}
#search-results{
    color: white;
}

